In [1]:
import pandas as pd

In [23]:
dict_A={"A":[1,2,3,4,5],"B":[7,8,9,10,11]}
df=pd.DataFrame(dict_A)
print df

   A   B
0  1   7
1  2   8
2  3   9
3  4  10
4  5  11

In [25]:
df['C']=[2,3,4,5,6]
df['D']=[7,8,7,6,5]
print df
my_df = list(df)
print my_df

   A   B  C  D
0  1   7  2  7
1  2   8  3  8
2  3   9  4  7
3  4  10  5  6
4  5  11  6  5
['A', 'B', 'C', 'D']

In [8]:
cols=list(df)
cols

['A', 'B', 'C', 'D']

In [12]:
cols.index('C')
cols.insert(0,cols.pop(cols.index('C')))
cols

['C', 'A', 'B', 'D']

In [21]:
cols
df=df.ix[:,cols]

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [27]:
df[['B','A','D','C']]

    B  A  D  C
0   7  1  7  2
1   8  2  8  3
2   9  3  7  4
3  10  4  6  5
4  11  5  5  6

In [1]:
import tushare as ts
api=ts.get_apis()
df=ts.bar('300333',conn=api,start_date='2018-01-01')

In [2]:
df.head()

              code  open  close  high   low       vol       amount
datetime
2018-04-03  300333  8.51   8.54  8.63  8.32  119882.0  101666248.0
2018-04-02  300333  8.60   8.71  8.88  8.41  193946.0  167833136.0
2018-03-30  300333  8.20   8.52  8.72  8.10  161526.0  135846832.0
2018-03-29  300333  8.05   8.13  8.40  8.05   91807.0   75197824.0
2018-03-28  300333  7.80   8.04  8.28  7.75  117111.0   94619512.0

In [5]:
df.reset_index()['datetime'].values

array(['2018-04-03T00:00:00.000000000', '2018-04-02T00:00:00.000000000',
       '2018-03-30T00:00:00.000000000', '2018-03-29T00:00:00.000000000',
       '2018-03-28T00:00:00.000000000', '2018-03-27T00:00:00.000000000',
       '2018-03-26T00:00:00.000000000', '2018-03-23T00:00:00.000000000',
       '2018-03-22T00:00:00.000000000', '2018-03-21T00:00:00.000000000',
       '2018-03-20T00:00:00.000000000', '2018-03-19T00:00:00.000000000',
       '2018-03-16T00:00:00.000000000', '2018-03-15T00:00:00.000000000',
       '2018-03-14T00:00:00.000000000', '2018-03-13T00:00:00.000000000',
       '2018-03-12T00:00:00.000000000', '2018-03-09T00:00:00.000000000',
       '2018-03-08T00:00:00.000000000', '2018-03-07T00:00:00.000000000',
       '2018-03-06T00:00:00.000000000', '2018-03-05T00:00:00.000000000',
       '2018-03-02T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-02-28T00:00:00.000000000', '2018-02-27T00:00:00.000000000',
       '2018-02-26T00:00:00.000000000', '2018-02-23T00:00:00.000000000',
       '2018-02-22T00:00:00.000000000', '2018-02-14T00:00:00.000000000',
       '2018-02-13T00:00:00.000000000', '2018-02-12T00:00:00.000000000',
       '2018-02-09T00:00:00.000000000', '2018-02-08T00:00:00.000000000',
       '2018-02-07T00:00:00.000000000', '2018-02-06T00:00:00.000000000',
       '2018-02-05T00:00:00.000000000', '2018-02-02T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2018-01-31T00:00:00.000000000',
       '2018-01-30T00:00:00.000000000', '2018-01-29T00:00:00.000000000',
       '2018-01-26T00:00:00.000000000', '2018-01-25T00:00:00.000000000',
       '2018-01-24T00:00:00.000000000', '2018-01-23T00:00:00.000000000',
       '2018-01-22T00:00:00.000000000', '2018-01-19T00:00:00.000000000',
       '2018-01-18T00:00:00.000000000', '2018-01-17T00:00:00.000000000',
       '2018-01-16T00:00:00.000000000', '2018-01-15T00:00:00.000000000',
       '2018-01-12T00:00:00.000000000', '2018-01-11T00:00:00.000000000',
       '2018-01-10T00:00:00.000000000', '2018-01-09T00:00:00.000000000',
       '2018-01-08T00:00:00.000000000', '2018-01-05T00:00:00.000000000',
       '2018-01-04T00:00:00.000000000', '2018-01-03T00:00:00.000000000',
       '2018-01-02T00:00:00.000000000'], dtype='datetime64[ns]')