In [1]:
import pandas as pd

In [23]:
dict_A={"A":[1,2,3,4,5],"B":[7,8,9,10,11]}
df=pd.DataFrame(dict_A)
print df

   A   B
0  1   7
1  2   8
2  3   9
3  4  10
4  5  11

In [25]:
df['C']=[2,3,4,5,6]
df['D']=[7,8,7,6,5]
print df
my_df = list(df)
print my_df

   A   B  C  D
0  1   7  2  7
1  2   8  3  8
2  3   9  4  7
3  4  10  5  6
4  5  11  6  5
['A', 'B', 'C', 'D']

In [8]:
cols=list(df)
cols

['A', 'B', 'C', 'D']

In [12]:
cols.index('C')
cols.insert(0,cols.pop(cols.index('C')))
cols

['C', 'A', 'B', 'D']

In [21]:
cols
df=df.ix[:,cols]

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [27]:
df[['B','A','D','C']]

    B  A  D  C
0   7  1  7  2
1   8  2  8  3
2   9  3  7  4
3  10  4  6  5
4  11  5  5  6