In [ ]:
import requests
import datetime
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.162 Safari/537.36'}

In [ ]:
url = 'https://xueqiu.com/v4/statuses/user_timeline.json?page=3&user_id=1955602780'

In [ ]:
headers['Cookie']='device_id=f174304eb593fc036db5db25d3124fad; s=e31245o8yi; bid=a8ec0ec01035c8be5606c595aed718d4_j9xsz38j; remember=1; remember.sig=K4F3faYzmVuqC0iXIERCQf55g2Y; xq_a_token=f57a2e24d323f2c27ec40d3ac26ee9a10e1857dc; xq_a_token.sig=-3diSs4C6X4-m1mC-h618cAeWj4; xq_r_token=7ceedf9c41c4b6d4054d6f25c1ca3087e40483a2; xq_r_token.sig=XtalVKjjXjLzRRBR0HwHAjfH3N0; xq_is_login=1; xq_is_login.sig=J3LxgPVPUzbBg3Kee_PquUfih7Q; u=1733473480; u.sig=2sMTnVmBVOASyCZs6lbVBQ6Zfgs; __utmz=1.1524820182.167.7.utmcsr=baidu|utmccn=(organic)|utmcmd=organic; aliyungf_tc=AQAAACK8rRyK8gYAAyAmG3lNK4rFWjui; __utma=1.8758030.1510556188.1525936226.1526117855.176; __utmc=1; __utmt=1; Hm_lvt_1db88642e346389874251b5a1eded6e3=1525403929,1525410601,1525929687,1526117855; __utmb=1.5.10.1526117855; Hm_lpvt_1db88642e346389874251b5a1eded6e3=1526117884; snbim_minify=true'

In [ ]:
r = requests.get(url,headers=headers)

In [ ]:
r.status_code

In [ ]:
r.text

In [ ]:
js = r.json()

In [ ]:
count = 20
maxPage=1796

In [ ]:
js

In [ ]:
post_list = js.get('statuses')

In [ ]:
for post in post_list:
    print datetime.datetime.fromtimestamp(long(post.get('created_at'))/1000)

In [ ]:
for i in range(6):
    print i
print 'now i :',i

In [ ]:
from pymongo import MongoClient
client=MongoClient('raspberrypi')

In [ ]:
import pandas as pd
pd.set_option('display.expand_frame_repr')

In [ ]:
    collection=client['xueqiu']['ceo']
    result={}
    ret = collection.find({},{'created_at':1,'source':1})
    print 'start to calculate'
    count =0
    # ret= collection.find_one({'source':u'持仓盈亏'},{'description':1,'source_link':1})

    ret_list = list(ret)
    df = pd.DataFrame(ret_list)
    del df['_id']

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df[df['created_at']=='2018']

In [ ]:
df=df.set_index('created_at')

In [ ]:
df.head()

In [ ]:
print len(df['2018-02'])
print len(df['2017'])
print len(df['2016'])
print len(df['2015'])
print len(df['2014'])
print len(df['2013'])
print len(df['2012'])
print len(df['2011'])
print len(df['2010'])
print len(df['2009'])

In [ ]:
for year in range(2010,2019):
    print year,"#################" 
    for name , group in df[str(year)].groupby('source'):
        print name,len(group)

In [ ]:
a=pd.Series([1])

In [ ]:
a.values[0]

In [13]:
import requests
import re
import execjs
from lxml import etree
headers={
'Host': 'www.jisilu.cn',
'Pragma': 'no-cache',
'Referer': 'https://www.jisilu.cn/',
'User-Agent':'IE'
}
url='http://www.jisilu.cn/explore/'
res = requests.get(url,headers=headers)
doc = etree.HTML(res.text)
res.encoding='utf-8'
# print(res.text)
print('\n'*5)
#s_text = doc.xpath('//script/text()')
#def f(var,text):
#    if var in text:
#        return True
#    return False
#data = filter(partial(f,"var data"),s_text)[0]
# data = ''.join(doc.xpath('//script[contains(text(),"var")]/text()'))
for i in doc.xpath('//script[contains(text()," ")]/text()'):
    print(i)
# print(data)
# json_raw = re.search('({[\S\s]*\})',data).group(1)
#jsn = execjs.eval(json_raw)
#print(jsn)

	var _44AE53E26ADD36F2011DDC6481432A79='';
	var G_POST_HASH=_44AE53E26ADD36F2011DDC6481432A79;
	var G_INDEX_SCRIPT = '';
	var G_SITE_NAME = 'éæå½';
	var G_BASE_URL = 'https://www.jisilu.cn';
	var G_STATIC_URL = 'https://www.jisilu.cn/static';
	var G_UPLOAD_URL = 'https://www.jisilu.cn/uploads';
	var G_USER_ID = 0;
	var G_USER_NAME = '';
	var G_UPLOAD_ENABLE = 'N';
	var G_QUICK_PUBLISH_HUMAN_VALID = '';
	var G_UNREAD_NOTIFICATION = 0;
	var G_NOTIFICATION_INTERVAL = 180000;
	var G_CAN_CREATE_TOPIC = '';
	var G_USER_FORBIDDEN = 0;

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?164fe01b1433a19b507595a43bf58262";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();


			function changeDispMode(){
				if(G_USER_ID <= 0){
					alert('è¯·ç»å½åä½¿ç¨æ¬åè½');
					$('#disp_mode_bbs').removeAttr('checked');
					return false;
				}
				var _is_bbs = 'no';
				if($('#disp_mode_bbs').attr('checked')){
					_is_bbs = 'yes';
				}
				$.post('/home/ajax/set_bbs/', {'is_bbs': _is_bbs}, function(){
					window.location.href = '/explore/';
				});
			}


		$(document).ready(function () {
			$('#__crond').html(unescape('%3Cimg%20src%3D%22' + G_BASE_URL + '/crond/run/1530583575%22%20width%3D%221%22%20height%3D%221%22%20/%3E'));
		});
        $('.jsl_ad_banner').append('<div style="width:26px;height:13px;position:absolute;left:1px;bottom:1px;z-index:99;background-color:#d4f2ff;font-size:9px;line-height:13px;border-top-right-radius:3px;">å¹¿å</div>');

In [14]:
# 创建一个session对象 
s = requests.Session() 
# 设置session对象的auth属性，用来作为请求的默认参数 
s.auth = ('user', 'pass') 
# 设置session的headers属性，通过update方法，将其余请求方法中的headers属性合并起来作为最终的请求方法的headers 
s.headers.update({'x-test': 'true'}) 
# 发送请求，这里没有设置auth会默认使用session对象的auth属性，这里的headers属性会与session对象的headers属性合并 
r = s.get('http://httpbin.org/headers', headers={'x-test2': 'true'}) 
# 查看发送请求的请求头 
print(r.request.headers)

{'User-Agent': 'python-requests/2.19.1', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive', 'x-test': 'true', 'x-test2': 'true', 'Authorization': 'Basic dXNlcjpwYXNz'}

In [15]:
header={'User-Agent':'Test Agent'}

In [17]:
s.get('http://httpbin.org/headers',headers=header).text

'{"headers":{"Accept":"*/*","Accept-Encoding":"gzip, deflate","Authorization":"Basic dXNlcjpwYXNz","Connection":"close","Host":"httpbin.org","User-Agent":"Test Agent","X-Test":"true"}}\n'

In [1]:
import pandas as pd
import json
import pymongo
from sqlalchemy import create_engine
client = pymongo.MongoClient('localhost')
doc = client['proxyip']['pool']
# engine = create_engine('mysql+pymysql://root:123456z@localhost/spider?charset=utf8')
temp=[]

for i in doc.find({}):
    del i['_id']
    temp.append(i)
df = pd.read_json(json.dumps(temp))
# df.to_sql('tb_person_test',con=engine,if_exists='replace')
df.head()

                  ip
0  123.161.155.224\n
1  123.161.155.224\n
2  180.155.139.125\n
3      49.85.3.107\n
4      49.85.3.107\n

In [2]:
df['ip']=df['ip'].map(lambda x:x.strip())

In [4]:
df.head()

                ip
0  123.161.155.224
1  123.161.155.224
2  180.155.139.125
3      49.85.3.107
4      49.85.3.107

In [6]:
result = df['ip'].value_counts()

In [7]:
result

171.12.167.137     18
49.64.71.91        17
60.175.197.39      17
180.104.37.21      15
36.25.24.68        13
117.63.206.196      9
60.162.16.65        9
110.82.102.7        8
223.245.243.42      8
180.155.139.125     8
49.85.3.107         7
123.161.155.224     7
27.31.103.141       6
110.82.116.68       6
49.87.110.56        5
117.31.144.25       5
117.69.200.19       5
1.196.70.37         5
115.203.205.90      4
220.162.155.29      4
183.52.105.170      4
60.169.216.164      4
117.26.184.61       3
117.63.72.156       3
115.203.197.192     3
180.122.148.24      2
123.163.162.78      2
60.178.71.242       2
Name: ip, dtype: int64

In [15]:
result.sum()

199