In [4]:
import tushare as ts
df=ts.stock_pledged()

In [5]:
df.head(10)

     code  name  deals  unrest_pledged  rest_pledged     totals  p_ratio
0  000981  银亿股份    102       195955.01     129352.76  402798.99    80.76
1  002143  印纪传媒     50       142835.85          0.00  176983.42    80.71
2  000408  藏格控股     74         4708.62     149501.43  199377.95    77.35
3  000564  供销大集    123        79721.21     375042.16  600782.82    75.70
4  600828  茂业商业     81        38955.32      91531.00  173198.25    75.34
5  000662  天夏智慧     52         5690.99      55282.69   84084.44    72.51
6  000723  美锦能源    109        14532.63     279172.86  410593.21    71.53
7  000688  建新矿业     62        81188.08          0.00  113729.93    71.39
8  600053  九鼎投资    224        30744.12          0.00   43354.08    70.91
9  000038   深大通     62           11.72      36874.04   52277.74    70.56

In [6]:
df.sort_values('deals',ascending=False)

        code   name  deals  unrest_pledged  rest_pledged      totals  p_ratio
2132  601318   中国平安   2398        49350.53          0.00  1083266.45     4.56
2372  601166   兴业银行   2323        17450.62      24337.75  2077419.08     2.01
2507  000651   格力电器   1727         4853.55          0.00   601573.09     0.81
2900  000725   京东方Ａ   1635         2994.96          0.00  3386228.53     0.09
2085  300498   温氏股份   1187        23323.31       3250.48   522035.62     5.09
2815  000001   平安银行   1121         2117.02          0.00  1717041.14     0.12
1594  000333   美的集团    989        85499.30          0.00   657251.58    13.01
3176  601668   中国建筑    953         1153.86          0.00  3000000.00     0.04
1342  600016   民生银行    943       516430.91          0.00  2955176.93    17.48
2079  002466   天齐锂业    887         5943.97          0.00   114205.29     5.20
2986  600030   中信证券    838          705.31          0.00   983858.07     0.07
1197  000413   东旭光电    805        33507.93      76580.38   548025.01    20.09
2333  000750   国海证券    800         9902.92          0.00   421554.20     2.35
1363  300059   东方财富    764        73317.86          0.00   428877.97    17.10
453   002354   天神娱乐    703         4139.76      29678.40    93684.69    36.10
2151  000858    五粮液    702        16503.35          0.00   379596.67     4.35
2287  600050   中国联通    700         2424.04      84420.15  3023395.07     2.87
2746  600519   贵州茅台    674          216.15          0.00   125619.78     0.17
1770  600887   伊利股份    636        60611.81          0.00   607849.26     9.97
2581  600036   招商银行    608         9572.59          0.00  2062894.44     0.46
171   300072   三聚环保    606        62966.97      23428.51   180808.00    47.78
660   000839   中信国安    590       121612.28          0.00   391982.64    31.02
3149  601766   中国中车    584          878.99          0.00  2432779.80     0.04
431   002450    康得新    580        80485.35      49886.72   353962.48    36.83
2469  601328   交通银行    554        41558.55          0.00  3925086.40     1.06
1633  002024   苏宁云商    551        83776.04      30000.00   931003.97    12.22
1459  002594    比亚迪    551        27796.71          0.00   181314.29    15.33
381   600340   华夏幸福    551       113488.19          0.00   295494.67    38.41
2268  600109   国金证券    541         9130.42          0.00   302435.93     3.02
2325  000776   广发证券    519        14701.04          0.00   591929.15     2.48
...      ...    ...    ...             ...           ...         ...      ...
3394  600421   ST仰帆      2            1.15          0.00    19560.00     0.01
2337  603396   金辰股份      2            0.36        175.00     7555.67     2.32
3416  300731   科创新源      1            0.20          0.00     8721.74     0.00
3439  603937   丽岛新材      1            0.39          0.00    20888.00     0.00
1953  603970   中农立华      1            0.00        920.00    13333.34     6.90
2012  600710   ST常林      1         8000.00          0.00   130674.94     6.12
3446  002917    金奥博      1            0.44          0.00    11306.00     0.00
3445  002911   佛燃股份      1            0.89          0.00    55600.00     0.00
2285  000629  *ST钒钛      1            0.00      24773.23   858974.62     2.88
3345  600815  *ST厦工      1            8.03          0.00    95897.00     0.01
3448  002922    伊戈尔      1            0.30          0.00    13199.29     0.00
2136  002919   名臣健康      1            0.00        366.38     8142.38     4.50
3450  603329   上海雅仕      1            0.02          0.00    13200.00     0.00
3438  600680  *ST上普      1            0.08          0.00    25742.53     0.00
3434  600696  *ST匹凸      1            0.10          0.00    34056.56     0.00
3375  300727   润禾材料      1            1.28          0.00     9760.00     0.01
1852  600265   ST景谷      1         1136.14          0.00    12980.00     8.75
3367  002877   智能自控      1            1.36          0.00    12224.00     0.01
3433  600149  *ST坊展      1            0.34          0.00    38016.00     0.00
2658  300654   世纪天鸿      1            0.00         25.00     9335.00     0.27
3431  603848    好太太      1            0.12          0.00    40100.00     0.00
3405  000950  *ST建峰      1            0.84          0.00   172818.47     0.00
2549  600608  *ST沪科      1          190.00          0.00    32886.14     0.58
3406  300737   科顺股份      1            0.06          0.00    61066.66     0.00
1001  000803  *ST金宇      1         3002.60          0.00    12773.09    23.51
3425  603685   晨丰科技      1            0.03          0.00    10000.00     0.00
3421  300705   九典制药      1            0.20          0.00    11734.00     0.00
1589  600425  *ST青松      1        18068.38          0.00   137879.01    13.10
3415  603283   赛腾股份      1            0.08          0.00    16000.00     0.00
3419  300717   华信新材      1            0.02          0.00     6400.00     0.00

[3452 rows x 7 columns]

In [7]:
df.sort_values('p_ratio',ascending=False)

        code   name  deals  unrest_pledged  rest_pledged       totals  p_ratio
0     000981   银亿股份    102       195955.01     129352.76    402798.99    80.76
1     002143   印纪传媒     50       142835.85          0.00    176983.42    80.71
2     000408   藏格控股     74         4708.62     149501.43    199377.95    77.35
3     000564   供销大集    123        79721.21     375042.16    600782.82    75.70
4     600828   茂业商业     81        38955.32      91531.00    173198.25    75.34
5     000662   天夏智慧     52         5690.99      55282.69     84084.44    72.51
6     000723   美锦能源    109        14532.63     279172.86    410593.21    71.53
7     000688   建新矿业     62        81188.08          0.00    113729.93    71.39
8     600053   九鼎投资    224        30744.12          0.00     43354.08    70.91
9     000038    深大通     62           11.72      36874.04     52277.74    70.56
10    002356   赫美集团     30        21664.60          0.00     31047.44    69.78
11    600295   鄂尔多斯     48        42043.82          0.00     61200.00    68.70
12    002252   上海莱士    141       333938.47          0.00    497462.21    67.13
13    600246   万通地产     63        62106.87      73255.81    205400.93    65.90
14    000627   天茂集团    222        33187.18     292276.81    494062.92    65.88
15    300459   金科文化    155         6775.38     123071.82    197123.30    65.87
16    002147   新光圆成     73          205.37     119538.19    182807.64    65.50
17    002700   新疆浩源     33        27292.86          0.00     42242.69    64.61
18    002684   猛狮科技    109        17871.83      18775.46     56737.44    64.59
19    300064   豫金刚石     39        21249.42      56437.29    120547.66    64.44
20    000020   深华发A      4        11610.40          0.00     18116.54    64.09
21    000732   泰禾集团     75        79531.80          0.00    124445.07    63.91
22    300478   杭州高新     20           41.26       4219.00      6667.00    63.90
23    300317   珈伟股份     96        16347.17      38217.84     85432.94    63.87
24    002437   誉衡药业    133       140245.75          0.00    219812.30    63.80
25    300518    盛讯达     51         1302.96       4644.77      9334.00    63.72
26    600892   大晟文化     47         5192.20      30413.76     55946.42    63.64
27    600393   粤泰股份     69         8138.70     152915.23    253624.79    63.50
28    002761    多喜爱     19         1998.08       5598.96     12000.00    63.31
29    002625   光启技术     88           25.13      80172.31    126751.17    63.27
...      ...    ...    ...             ...           ...          ...      ...
3446  002917    金奥博      1            0.44          0.00     11306.00     0.00
3447  000411   英特集团      3            0.74          0.00     20744.99     0.00
3449  600062   华润双鹤     15            3.63          0.00     86936.48     0.00
3450  603329   上海雅仕      1            0.02          0.00     13200.00     0.00
3428  601998   中信银行     67           98.11          0.00   3405263.36     0.00
3429  601100   恒立液压     12            2.45          0.00     63000.00     0.00
3409  600009   上海机场     24            3.88          0.00    192695.84     0.00
3427  603605    珀莱雅      2            0.36          0.00     20000.00     0.00
3415  603283   赛腾股份      1            0.08          0.00     16000.00     0.00
3405  000950  *ST建峰      1            0.84          0.00    172818.47     0.00
3406  300737   科顺股份      1            0.06          0.00     61066.66     0.00
3407  603963   大理药业      2            0.35          0.00     10000.00     0.00
3408  000972  *ST中基      3            0.45          0.00     77128.36     0.00
3410  600540  *ST新赛      3            0.76          0.00     47092.33     0.00
3411  601086   国芳集团      5            2.41          0.00     66600.00     0.00
3412  603976   正川股份      3            0.35          0.00     10800.00     0.00
3413  600612    老凤祥      6            0.65          0.00     31710.96     0.00
3414  300735   光弘科技      2            0.25          0.00     35468.00     0.00
3416  300731   科创新源      1            0.20          0.00      8721.74     0.00
3426  601857   中国石油    173          341.97          0.00  16192207.78     0.00
3417  300723    一品红      3            0.70          0.00     16000.00     0.00
3418  000028   国药一致     17            1.20          0.00     37324.14     0.00
3419  300717   华信新材      1            0.02          0.00      6400.00     0.00
3420  300664   鹏鹞环保      8            1.00          0.00     48000.00     0.00
3421  300705   九典制药      1            0.20          0.00     11734.00     0.00
3422  600877  *ST嘉陵      4            1.57          0.00     68728.20     0.00
3423  600025   华能水电     16           70.54          0.00   1800000.00     0.00
3424  603103   横店影视      5            1.69          0.00     45300.00     0.00
3425  603685   晨丰科技      1            0.03          0.00     10000.00     0.00
3451  300732    设研院      3            0.32          0.00      7200.00     0.00

[3452 rows x 7 columns]

In [2]:
import tushare as ts
ds=ts.pledged_detail()

In [4]:
names=ds.groupby('name')

In [5]:
names

In [6]:
names['name']

In [9]:
counts=names['name'].count().sort_values(ascending=False)

In [10]:
counts.to_csv('pledged_count.csv')

In [1]:
import tushare as ts

In [3]:
bonds=ts.new_cbonds()

In [4]:
bonds

In [5]:
import pandas as pd

In [19]:
df=ts.get_k_data('300527',start='2018-01-01')

In [20]:
df

          date   open  close   high    low   volume    code
0   2018-01-02  24.18  24.03  24.28  23.94   5632.0  300527
1   2018-01-03  24.06  24.09  24.10  23.84   6233.0  300527
2   2018-01-04  24.18  24.09  24.69  23.92   9865.0  300527
3   2018-01-05  24.00  24.07  24.28  23.95   7556.0  300527
4   2018-01-08  23.98  23.89  24.01  23.45  10558.0  300527
5   2018-01-09  23.89  23.54  23.89  23.50   9115.0  300527
6   2018-01-10  23.54  23.24  23.79  23.23   7401.0  300527
7   2018-01-11  23.24  23.32  23.47  23.20   7046.0  300527
8   2018-01-12  23.33  23.28  23.50  23.15   7298.0  300527
9   2018-01-15  23.10  22.43  23.26  22.02  16814.0  300527
10  2018-01-16  22.44  22.25  22.68  22.22   6305.0  300527
11  2018-01-17  22.25  22.18  22.39  21.81   6000.0  300527
12  2018-01-18  22.32  22.33  22.78  22.18   4696.0  300527
13  2018-01-19  22.69  23.12  23.80  22.50  12243.0  300527
14  2018-01-22  23.03  23.28  23.59  22.50   9227.0  300527
15  2018-01-23  23.40  23.10  23.50  22.90   4454.0  300527
16  2018-01-24  23.10  23.05  23.19  22.81   5821.0  300527
17  2018-01-25  23.05  23.90  24.12  22.81  19167.0  300527
18  2018-01-26  23.78  24.02  24.12  23.63  10721.0  300527
19  2018-01-29  23.96  24.19  24.38  23.81  13972.0  300527
20  2018-01-30  23.95  23.98  24.44  23.95   7862.0  300527
21  2018-01-31  23.84  22.82  24.21  22.82   6229.0  300527
22  2018-02-01  22.84  22.49  23.45  22.41   6791.0  300527
23  2018-02-02  22.00  23.38  23.49  21.97   8652.0  300527
24  2018-02-05  23.59  24.99  25.15  23.03  34204.0  300527
25  2018-02-06  24.88  23.70  24.88  23.69  21584.0  300527
26  2018-02-07  23.88  23.80  24.45  23.73  22299.0  300527
27  2018-02-08  23.50  23.30  24.00  23.29  10627.0  300527
28  2018-02-09  22.49  22.60  22.80  21.01  22756.0  300527
29  2018-02-12  22.70  22.49  22.76  22.21   9043.0  300527
30  2018-02-13  22.74  22.49  22.78  22.33   5659.0  300527
31  2018-02-14  22.54  22.34  22.64  21.90   7146.0  300527
32  2018-02-22  22.60  22.72  22.95  22.20   5435.0  300527
33  2018-02-23  22.73  22.58  22.93  22.35   3104.0  300527
34  2018-02-26  22.59  23.21  23.50  22.50  17026.0  300527
35  2018-02-27  22.93  22.73  23.50  22.50  26854.0  300527

In [8]:
df['name']=u'华舟应急'

In [21]:
df.set_index('date',inplace=True)

In [22]:
df

             open  close   high    low   volume    code
date
2018-01-02  24.18  24.03  24.28  23.94   5632.0  300527
2018-01-03  24.06  24.09  24.10  23.84   6233.0  300527
2018-01-04  24.18  24.09  24.69  23.92   9865.0  300527
2018-01-05  24.00  24.07  24.28  23.95   7556.0  300527
2018-01-08  23.98  23.89  24.01  23.45  10558.0  300527
2018-01-09  23.89  23.54  23.89  23.50   9115.0  300527
2018-01-10  23.54  23.24  23.79  23.23   7401.0  300527
2018-01-11  23.24  23.32  23.47  23.20   7046.0  300527
2018-01-12  23.33  23.28  23.50  23.15   7298.0  300527
2018-01-15  23.10  22.43  23.26  22.02  16814.0  300527
2018-01-16  22.44  22.25  22.68  22.22   6305.0  300527
2018-01-17  22.25  22.18  22.39  21.81   6000.0  300527
2018-01-18  22.32  22.33  22.78  22.18   4696.0  300527
2018-01-19  22.69  23.12  23.80  22.50  12243.0  300527
2018-01-22  23.03  23.28  23.59  22.50   9227.0  300527
2018-01-23  23.40  23.10  23.50  22.90   4454.0  300527
2018-01-24  23.10  23.05  23.19  22.81   5821.0  300527
2018-01-25  23.05  23.90  24.12  22.81  19167.0  300527
2018-01-26  23.78  24.02  24.12  23.63  10721.0  300527
2018-01-29  23.96  24.19  24.38  23.81  13972.0  300527
2018-01-30  23.95  23.98  24.44  23.95   7862.0  300527
2018-01-31  23.84  22.82  24.21  22.82   6229.0  300527
2018-02-01  22.84  22.49  23.45  22.41   6791.0  300527
2018-02-02  22.00  23.38  23.49  21.97   8652.0  300527
2018-02-05  23.59  24.99  25.15  23.03  34204.0  300527
2018-02-06  24.88  23.70  24.88  23.69  21584.0  300527
2018-02-07  23.88  23.80  24.45  23.73  22299.0  300527
2018-02-08  23.50  23.30  24.00  23.29  10627.0  300527
2018-02-09  22.49  22.60  22.80  21.01  22756.0  300527
2018-02-12  22.70  22.49  22.76  22.21   9043.0  300527
2018-02-13  22.74  22.49  22.78  22.33   5659.0  300527
2018-02-14  22.54  22.34  22.64  21.90   7146.0  300527
2018-02-22  22.60  22.72  22.95  22.20   5435.0  300527
2018-02-23  22.73  22.58  22.93  22.35   3104.0  300527
2018-02-26  22.59  23.21  23.50  22.50  17026.0  300527
2018-02-27  22.93  22.73  23.50  22.50  26854.0  300527

In [25]:
s=pd.Series(u'华舟应急',df.index)

In [26]:
s

date
2018-01-02    华舟应急
2018-01-03    华舟应急
2018-01-04    华舟应急
2018-01-05    华舟应急
2018-01-08    华舟应急
2018-01-09    华舟应急
2018-01-10    华舟应急
2018-01-11    华舟应急
2018-01-12    华舟应急
2018-01-15    华舟应急
2018-01-16    华舟应急
2018-01-17    华舟应急
2018-01-18    华舟应急
2018-01-19    华舟应急
2018-01-22    华舟应急
2018-01-23    华舟应急
2018-01-24    华舟应急
2018-01-25    华舟应急
2018-01-26    华舟应急
2018-01-29    华舟应急
2018-01-30    华舟应急
2018-01-31    华舟应急
2018-02-01    华舟应急
2018-02-02    华舟应急
2018-02-05    华舟应急
2018-02-06    华舟应急
2018-02-07    华舟应急
2018-02-08    华舟应急
2018-02-09    华舟应急
2018-02-12    华舟应急
2018-02-13    华舟应急
2018-02-14    华舟应急
2018-02-22    华舟应急
2018-02-23    华舟应急
2018-02-26    华舟应急
2018-02-27    华舟应急
dtype: object

In [28]:
df.drop('high',axis=1,inplace=True)

In [29]:
df

             open  close    low   volume    code
date
2018-01-02  24.18  24.03  23.94   5632.0  300527
2018-01-03  24.06  24.09  23.84   6233.0  300527
2018-01-04  24.18  24.09  23.92   9865.0  300527
2018-01-05  24.00  24.07  23.95   7556.0  300527
2018-01-08  23.98  23.89  23.45  10558.0  300527
2018-01-09  23.89  23.54  23.50   9115.0  300527
2018-01-10  23.54  23.24  23.23   7401.0  300527
2018-01-11  23.24  23.32  23.20   7046.0  300527
2018-01-12  23.33  23.28  23.15   7298.0  300527
2018-01-15  23.10  22.43  22.02  16814.0  300527
2018-01-16  22.44  22.25  22.22   6305.0  300527
2018-01-17  22.25  22.18  21.81   6000.0  300527
2018-01-18  22.32  22.33  22.18   4696.0  300527
2018-01-19  22.69  23.12  22.50  12243.0  300527
2018-01-22  23.03  23.28  22.50   9227.0  300527
2018-01-23  23.40  23.10  22.90   4454.0  300527
2018-01-24  23.10  23.05  22.81   5821.0  300527
2018-01-25  23.05  23.90  22.81  19167.0  300527
2018-01-26  23.78  24.02  23.63  10721.0  300527
2018-01-29  23.96  24.19  23.81  13972.0  300527
2018-01-30  23.95  23.98  23.95   7862.0  300527
2018-01-31  23.84  22.82  22.82   6229.0  300527
2018-02-01  22.84  22.49  22.41   6791.0  300527
2018-02-02  22.00  23.38  21.97   8652.0  300527
2018-02-05  23.59  24.99  23.03  34204.0  300527
2018-02-06  24.88  23.70  23.69  21584.0  300527
2018-02-07  23.88  23.80  23.73  22299.0  300527
2018-02-08  23.50  23.30  23.29  10627.0  300527
2018-02-09  22.49  22.60  21.01  22756.0  300527
2018-02-12  22.70  22.49  22.21   9043.0  300527
2018-02-13  22.74  22.49  22.33   5659.0  300527
2018-02-14  22.54  22.34  21.90   7146.0  300527
2018-02-22  22.60  22.72  22.20   5435.0  300527
2018-02-23  22.73  22.58  22.35   3104.0  300527
2018-02-26  22.59  23.21  22.50  17026.0  300527
2018-02-27  22.93  22.73  22.50  26854.0  300527

In [30]:
ts.get_deposit_rate()

           date            deposit_type   rate
0    2015-10-24                定活两便(定期)     --
1    2015-10-24            定期存款整存整取(半年)   1.30
2    2015-10-24            定期存款整存整取(二年)   2.10
3    2015-10-24           定期存款整存整取(三个月)   1.10
4    2015-10-24            定期存款整存整取(三年)   2.75
5    2015-10-24            定期存款整存整取(五年)     --
6    2015-10-24            定期存款整存整取(一年)   1.50
7    2015-10-24               活期存款(不定期)   0.35
8    2015-10-24  零存整取、整存零取、存本取息定期存款(三年)   1.30
9    2015-10-24  零存整取、整存零取、存本取息定期存款(五年)     --
10   2015-10-24  零存整取、整存零取、存本取息定期存款(一年)   1.10
11   2015-10-24                通知存款(七天)   1.35
12   2015-10-24                通知存款(一天)   0.80
13   2015-10-24                协定存款(定期)   1.15
14   2015-08-26                定活两便(定期)     --
15   2015-08-26            定期存款整存整取(半年)   1.55
16   2015-08-26            定期存款整存整取(二年)   2.35
17   2015-08-26           定期存款整存整取(三个月)   1.35
18   2015-08-26            定期存款整存整取(三年)   3.00
19   2015-08-26            定期存款整存整取(五年)     --
20   2015-08-26            定期存款整存整取(一年)   1.75
21   2015-08-26               活期存款(不定期)   0.35
22   2015-08-26  零存整取、整存零取、存本取息定期存款(三年)   1.55
23   2015-08-26  零存整取、整存零取、存本取息定期存款(五年)     --
24   2015-08-26  零存整取、整存零取、存本取息定期存款(一年)   1.35
25   2015-08-26                通知存款(七天)   1.35
26   2015-08-26                通知存款(一天)   0.80
27   2015-08-26                协定存款(定期)   1.15
28   2015-06-28                定活两便(定期)     --
29   2015-06-28            定期存款整存整取(半年)   1.80
..          ...                     ...    ...
516  1990-08-21                通知存款(一天)     --
517  1990-08-21                协定存款(定期)     --
518  1990-04-15                定活两便(定期)     --
519  1990-04-15            定期存款整存整取(半年)   7.74
520  1990-04-15            定期存款整存整取(二年)  11.00
521  1990-04-15           定期存款整存整取(三个月)   6.30
522  1990-04-15            定期存款整存整取(三年)  11.88
523  1990-04-15            定期存款整存整取(五年)  13.68
524  1990-04-15            定期存款整存整取(一年)  10.08
525  1990-04-15               活期存款(不定期)   2.88
526  1990-04-15  零存整取、整存零取、存本取息定期存款(三年)     --
527  1990-04-15  零存整取、整存零取、存本取息定期存款(五年)     --
528  1990-04-15  零存整取、整存零取、存本取息定期存款(一年)     --
529  1990-04-15                通知存款(七天)     --
530  1990-04-15                通知存款(一天)     --
531  1990-04-15                协定存款(定期)     --
532  1989-02-01                定活两便(定期)     --
533  1989-02-01            定期存款整存整取(半年)   9.00
534  1989-02-01            定期存款整存整取(二年)  12.20
535  1989-02-01           定期存款整存整取(三个月)   7.56
536  1989-02-01            定期存款整存整取(三年)  13.14
537  1989-02-01            定期存款整存整取(五年)  14.94
538  1989-02-01            定期存款整存整取(一年)  11.34
539  1989-02-01               活期存款(不定期)   2.88
540  1989-02-01  零存整取、整存零取、存本取息定期存款(三年)     --
541  1989-02-01  零存整取、整存零取、存本取息定期存款(五年)     --
542  1989-02-01  零存整取、整存零取、存本取息定期存款(一年)     --
543  1989-02-01                通知存款(七天)     --
544  1989-02-01                通知存款(一天)     --
545  1989-02-01                协定存款(定期)     --

[546 rows x 3 columns]

In [31]:
ts.get_loan_rate()

           date            loan_type   rate
0    2015-10-24          短期贷款(六个月以内)   4.35
1    2015-10-24         短期贷款(六个月至一年)   4.35
2    2015-10-24          中长期贷款(三至五年)   4.75
3    2015-10-24          中长期贷款(五年以上)   4.90
4    2015-10-24          中长期贷款(一至三年)   4.75
5    2015-10-24               贴现(贴现)     --
6    2015-10-24         优惠贷款(扶贫贴息贷款)     --
7    2015-10-24     优惠贷款(老少边穷发展经济贷款)     --
8    2015-10-24     优惠贷款(民政部门福利工厂贷款)     --
9    2015-10-24  优惠贷款(民族贸易及民族用品生产贷款)     --
10   2015-10-24       优惠贷款(贫困县办工业贷款)     --
11   2015-10-24      个人住房商业贷款(六个月以内)   3.92
12   2015-10-24     个人住房商业贷款(六个月至一年)   3.92
13   2015-10-24       个人住房商业贷款(三至五年)   4.28
14   2015-10-24       个人住房商业贷款(五年以上)   4.41
15   2015-10-24       个人住房商业贷款(一至三年)   4.28
16   2015-10-24      个人住房公积金贷款(五年以上)   3.25
17   2015-10-24      个人住房公积金贷款(五年以下)   2.75
18   2015-09-06            再贴现(再贴现率)   2.25
19   2015-08-26          短期贷款(六个月以内)   4.60
20   2015-08-26         短期贷款(六个月至一年)   4.60
21   2015-08-26          中长期贷款(三至五年)   5.00
22   2015-08-26          中长期贷款(五年以上)   5.15
23   2015-08-26          中长期贷款(一至三年)   5.00
24   2015-08-26               贴现(贴现)     --
25   2015-08-26         优惠贷款(扶贫贴息贷款)     --
26   2015-08-26     优惠贷款(老少边穷发展经济贷款)     --
27   2015-08-26     优惠贷款(民政部门福利工厂贷款)     --
28   2015-08-26  优惠贷款(民族贸易及民族用品生产贷款)     --
29   2015-08-26       优惠贷款(贫困县办工业贷款)     --
..          ...                  ...    ...
770  1993-05-15      个人住房公积金贷款(五年以上)     --
771  1993-05-15      个人住房公积金贷款(五年以下)     --
772  1993-05-12         特种贷款(特种贷款利率)  11.25
773  1991-04-21          短期贷款(六个月以内)   8.10
774  1991-04-21         短期贷款(六个月至一年)   8.64
775  1991-04-21          中长期贷款(三至五年)   9.54
776  1991-04-21          中长期贷款(五年以上)   9.72
777  1991-04-21          中长期贷款(一至三年)   9.00
778  1991-04-21               贴现(贴现)     --
779  1991-04-21         优惠贷款(扶贫贴息贷款)   2.88
780  1991-04-21     优惠贷款(老少边穷发展经济贷款)   5.76
781  1991-04-21     优惠贷款(民政部门福利工厂贷款)   7.20
782  1991-04-21  优惠贷款(民族贸易及民族用品生产贷款)   5.76
783  1991-04-21       优惠贷款(贫困县办工业贷款)   5.76
784  1991-04-21      个人住房商业贷款(六个月以内)   7.29
785  1991-04-21     个人住房商业贷款(六个月至一年)   7.78
786  1991-04-21       个人住房商业贷款(三至五年)   8.59
787  1991-04-21       个人住房商业贷款(五年以上)   8.75
788  1991-04-21       个人住房商业贷款(一至三年)   8.10
789  1991-04-21      个人住房公积金贷款(五年以上)     --
790  1991-04-21      个人住房公积金贷款(五年以下)     --
791  1991-04-21         特种贷款(特种贷款利率)   9.72
792  1990-08-21          短期贷款(六个月以内)   8.64
793  1990-08-21         短期贷款(六个月至一年)   9.36
794  1990-08-21          中长期贷款(三至五年)  10.80
795  1990-08-21          中长期贷款(五年以上)  11.16
796  1990-08-21          中长期贷款(一至三年)  10.08
797  1990-08-21               贴现(贴现)     --
798  1990-08-21         优惠贷款(扶贫贴息贷款)     --
799  1990-08-21     优惠贷款(老少边穷发展经济贷款)     --

[800 rows x 3 columns]

In [4]:
totals=ts.get_today_all()

[Getting data:]############################################################