In [1]:
import redis

In [11]:
r3 = redis.Redis('raspberrypi',db=3)
r4 = redis.Redis('raspberrypi',db=4)

In [12]:
l3=r3.keys()
l4=r4.keys()

In [13]:
for i in l3:
    try:
        l4.remove(i)
    except:
        continue
print len(l4)

0

In [2]:
from setting import get_mysql_conn
conn = get_mysql_conn('db_rocky',True)

In [3]:
cur = conn.cursor()

In [14]:
cmd = 'select companyId,positionId,createTime from tb_jobs'
cur.execute(cmd)
ret = cur.fetchall()

In [6]:
len(ret)

18593

In [13]:
import re

In [18]:
for i in ret[:100]:
    if len(re.findall('-',i[2]))==4:
        d = i[2].split(' ')[0]
        print d
        update_cmd = 'update tb_jobs set createTime = \'{}\' where companyId= {} and positionId= {}; '.format(d,i[0],i[1])
        print update_cmd
#         cur.execute(update_cmd)
# conn.commit()

2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 49616 and positionId= 1890585;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 49616 and positionId= 2883159;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 49616 and positionId= 3049682;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 202266 and positionId= 3161783;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 49616 and positionId= 2091834;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 202266 and positionId= 4625911;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 61723 and positionId= 3238546;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 104718 and positionId= 4390454;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 49616 and positionId= 2099156;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 202266 and positionId= 4625919;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 61723 and positionId= 3279806;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 104718 and positionId= 3889872;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 202266 and positionId= 4537274;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 61723 and positionId= 3958793;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 70811 and positionId= 4621404;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4236996;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4088945;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 202266 and positionId= 3140660;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4285325;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 61723 and positionId= 4247256;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 70811 and positionId= 4562273;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4557157;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 129822 and positionId= 2063420;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 29682 and positionId= 4001281;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4088957;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 99937 and positionId= 3293029;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4420054;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 61723 and positionId= 2781315;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 70811 and positionId= 4571030;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4557132;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 129822 and positionId= 4430027;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 29682 and positionId= 4547649;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 78086 and positionId= 3020113;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4099217;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 99937 and positionId= 4200680;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4557452;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 61723 and positionId= 2782513;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 70811 and positionId= 3633500;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4251765;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 129822 and positionId= 1865182;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 29682 and positionId= 4548367;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 78086 and positionId= 2780866;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4467699;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 99937 and positionId= 4200044;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4605969;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 61723 and positionId= 4562900;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4419983;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 129822 and positionId= 4242541;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 29682 and positionId= 4528887;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 78086 and positionId= 3608253;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4467792;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 99937 and positionId= 4283443;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4108767;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 64718 and positionId= 2587749;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 4606489;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 3750681;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 4528365;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 3060 and positionId= 4566649;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 2452494;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 129822 and positionId= 2477156;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 29682 and positionId= 4548724;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 78086 and positionId= 4163600;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4406411;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 99937 and positionId= 4443305;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4548041;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 64718 and positionId= 1698869;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 4343318;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 4537697;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 15735 and positionId= 4629522;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 4492763;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 142449 and positionId= 3674136;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 4529444;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 3060 and positionId= 4560199;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4489564;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 129822 and positionId= 3735855;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 29682 and positionId= 4549995;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 78086 and positionId= 4425170;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4109248;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 64718 and positionId= 1866642;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 4115201;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 4537414;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 15735 and positionId= 4617585;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 4492732;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 142449 and positionId= 4421187;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 4535768;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 3060 and positionId= 4505470;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 4409868;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 29682 and positionId= 4550448;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 149779 and positionId= 4545706;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 146746 and positionId= 4403385;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 7099 and positionId= 3156740;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 149779 and positionId= 4528340;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 3522501;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 64718 and positionId= 1825452;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 3748990;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 4616076;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 4115212;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 171927 and positionId= 4412969;
2018-05-26
update tb_jobs set createTime = 2018-05-26 where companyId= 15735 and positionId= 4445535;